.menupage {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-width: 700px;
    padding: 10px;
    margin: 10px;
    margin-bottom: 50px;
}
.nameanddes{
    text-align: left;
}
.namesub{
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 10px;
}
.namesub1{
    font-size:small;
    
   color:rgb(29, 33, 33);
}
.placeholder{
    list-style: none;
    margin-bottom: 10px;
    padding: 10px;
    max-height: 15rem;
    width: 100%;
    overflow:auto;
    scrollbar-width:"20px";
    scrollbar-color: #7c7c7c #f5f5f5;
}
.Progressbar{
    list-style: none;
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
    max-height: 15rem;
    overflow:auto;
    scrollbar-width:"20px";
    scrollbar-width: thin;
    overflow-x: hidden;
}