.placeHoldermain{
  background-color: #f5f5f5;
  border-radius: 5px;
  margin: 10px 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.nameplaceholder {

    text-align: left;
    font-size: larger;
    padding-bottom: 5px;
}
.timeplaceholder {
    
    text-align: left;
    font-size: smaller;
    padding-bottom: 7px;
}